<%= form_for [@project,@task], :remote => true do |f| %>

<% if @task.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@task.errors.count, "error") %> prohibited this article from being saved:</h2>

	<ul>
		<% @task.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>



<p>
	<%= f.label :description %>
	<%= f.text_field :description, :size => 60 %>
</p>	

<%= f.submit %> <%= link_to 'close','#', :id => 'close_new_task_link', :style => 'display:none' %>
<% end %>	