<%= form_for [@project,Task.new], :remote => true do |f| %>
<p>
	<%= f.label :description %>
	<%= f.text_field :description, :size => 60 %>
</p>	

<%= f.submit %> <%= link_to 'close','#', :id => 'close_new_task_link', :style => 'display:none' %>
<% end %>