<ul id="active-tasks-list" data-project-id="<%= @project.id %>" class="<%= params[:sort_tasks] ? 'sortable' : ''%>">
	<% for task in @project.tasks.active %>
	<%= content_tag_for(:li, task) do %>
		<% if params[:sort_tasks] -%>
			<%= image_tag 'drag.gif', :class => 'handle' -%>
		<% end -%>
		<%= check_box_tag 'completed_tasks[]', task.id, false, :id => "activetask-#{task.id}" %> <span class="description"><%= task.description %></span>

		
    <% end %>

	<% end %>
</ul>

