<%= form_for @project do |f| %>

<% if @project.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@project.errors.count, "error") %> prohibited this article from being saved:</h2>

	<ul>
		<% @project.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>

<h2>Tasks</h2>

<% f.fields_for :tasks do |task_form| %>
<p>
	<div>
		<%= task_form.label :description, 'Task:' %>
		<%= task_form.text_field :description %>
		<%= link_to image_tag('grey_delete.gif'), project_task_path(@project,task_form.object), :method => :delete, :remote => true %>
	</div>

	<% unless task_form.object.new_record? %>
	<div>
		<%= task_form.label :_destroy, 'Remove:' %>
		<%= task_form.check_box :_destroy %>
	</div>
	<% end %>
</p>
<% end %>


	
<%= f.submit %>	or <%= link_to 'Cancel', :back %>
	
<% end %>