<%= form_for @project do |f| %>

<% if @project.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@project.errors.count, "error") %> prohibited this article from being saved:</h2>

	<ul>
		<% @project.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>

<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>

<% unless @project.new_record? %>
<h2>Tasks</h2>
<% end %>

<%= f.fields_for :tasks do |task_form| %>
	<% next if task_form.object.completed == true %>
<p>
	<%= div_for task_form.object, :class => 'fields' do %>
		<%= task_form.label :description, 'Task:' %>
		<%= task_form.text_field :description %>
		<%= task_form.hidden_field :_destroy %>  
		<%= link_to_function image_tag('grey_delete.gif', :border => 0), "remove_fields(this)" %>
    <% end %>


</p>
<% end %>


	
<%= f.submit %>	or <%= link_to 'Cancel', @project.new_record? ? projects_path : @project %>
	
<% end %>