<div id="nav">
	<h1><%= @project.name %></h1>
	<%= link_to 'edit', edit_project_path(@project) %> |
	<%= link_to 'reorder', sort_tasks_path(@project) %> |
	<%= link_to 'all projects', projects_path %>
</div>	



<div id="active_tasks">
	<%= render :partial => "active_tasks" %>
</div>

<div>
	<p id="add-task">
		<%= link_to 'add a new task', new_project_task_path(@project), :id => 'new_task_link' %> 
		<span id="delete-project">or <%= link_to 'delete this project', @project, :method => :delete, :confirm => 'Are you sure?' %></span>
	</p>
	<div id="new_task_form" style="display:none" data-show-form="<%= params[:show_task_form] ? 1 : 0 %>">
		<%= render :template => '/tasks/new', :layout => nil %>
	</div>	
</div>

<div id="completed-tasks">
	<%= render :partial => "completed_tasks" %>
</div>

