<div id="nav">
	<%= link_to 'My Projects', projects_path %>
	this project: <%= link_to 'edit', edit_project_path(@project) %> |
	<%= link_to 'reorder', sort_tasks_path(@project) %>
</div>	

<h1><%= @project.name %></h1>

<div id="active_tasks">
	<%= render :partial => "active_tasks" %>
</div>

<div>
	<p>
		<%= link_to 'new task', new_project_task_path(@project), :id => 'new_task_link', :remote => true %>
	</p>
	<div id="new_task_form"></div>	
</div>

<div id="completed_tasks">
	<%= render :partial => "completed_tasks" %>
</div>

