<div id="nav">
	<h1><%= @project.name %></h1>
	<%= link_to 'edit', edit_project_path(@project) %> |
	<%= link_to "I'm done reordering", @project, :id => 'done-reordering' %> |
	<%= link_to 'all projects', projects_path %>
</div>



<%= render :partial => "active_tasks" %>


