<div id="nav">
	<%= link_to 'Projects', projects_path, :id => 'my-projects-link' %>
	this project: <%= link_to 'edit', edit_project_path(@project) %> |
	<%= link_to "I'm done reordering", @project, :id => 'done-reordering' %>
</div>	

<h1><%= @project.name %></h1>

<%= render :partial => "active_tasks" %>


<script>

$(function() {
		$( ".sortable" ).sortable({
			 	handle: '.handle',  
				cursor: 'crosshair',
				axis: 'y',
			    update: function(event, ui){
				 	element_index = ui.item.index();
					element_id = ui.item.attr('id');
					task_id = element_id.split("_",2)[1];
				 	$.ajax({
						type: 'post',
						data: {_method:'PUT', task:{'position_position':element_index}},
						url: '/projects/<%= @project.id %>/tasks/'+task_id+'.js'
					});
				}
	    });
		$( ".sortable" ).disableSelection();
});

</script>

